:root {
    --main-color: #fff;
    --blue-color: #2196f3;
    --main-text-color: 	#212121;
    --text-gray-color: #757575;
    --footer-background: #2f303a;
    --button-background: #f5f4fa;
    --logo-studio-color: #000000;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

ul {
    list-style-type: none;
}

header {
    font-weight: 500;
    font-size: 14px;
}

.logo-studio {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--logo-studio-color);
        text-decoration: none;
}

.logo-web {
        color: var(--blue-color);
}

nav > ul > li > a {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

.link-contact {
        color: var(--text-gray-color);
        text-decoration: none;
}

.link-nav {
    color: var(--main-text-color);
}

.link-nav:hover, 
.link-nav:focus,
.link-contact:focus,
.link-contact:hover {
        color: var(--blue-color);
    }
   
.link-nav:visited {
        color: var(--main-text-color);
    }

.link-nav:visited:hover {
        color: var(--blue-color)
    }

.motto-order-button {
    background-color: var(--footer-background);
}

.main-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--main-color);
    text-align: center;
}

.main-h2, .portfolio-h1 {
    opacity: 0%;
}

.order-service {
    color: var(--main-color);
    background-color: var(--blue-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}

.order-service:hover {
    color: var(--blue-color);
    background-color: var(--main-color);
}

.main-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-info {
    font-size: 14px;
    color: var(--text-gray-color);
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.main-section-names {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.2;
}

.our-team {
    background-color: var(--button-background);
}

.main-section-names > ul> li {
    font-size: 16px;
    line-height: 1.1875;
}

.team-names {
    font-weight: 500;
}

.team-info {
    color: var(--text-gray-color);
}
    
.button-filters .filter {
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--main-text-color);
    border: 0px;
    border-radius: 4px;
    letter-spacing: 0.03em;
    transition: 0.25s;
}

.button-filters .filter:hover {
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-color);
    
}

.projects > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects > p {
    font-size: 16px;
    color: var(--text-gray-color);
    line-height: 1.875;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--footer-background);
    color: var(--main-color);
}

.logo-footer {
    color: var(--blue-color);
}

address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

address a {
    color: var(--main-color);
    opacity: 60%;
    text-decoration: none;
}

.logo-footer:visited,
address > ul > li > a:visited {
    text-decoration: none;
}

address > ul > li > a:hover, 
address > ul > li > a:focus {
    color: var(--blue-color);
}
